* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  margin: 0;
  padding: 0;
}

article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

nav ul, ul, li {
  list-style-type: none;
}

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

body {
  line-height: 1;
  font-family: sans-serif;
  font-size: 14px;
  background: #1B1C1E;
}

a {
  text-decoration: none;
  color: inherit;
  cursor: pointer;
}

::-webkit-scrollbar {
  display: none;
}

#content {
  max-width: 420px;
  min-height: calc(100vh - 66px);
  margin: auto;
  position: relative;
}

.title {
  text-align: center;
  margin-top: 36px;
  margin-bottom: 24px;
}

.title .title-head {
  font-size: 36px;
  color: white;
  letter-spacing: -1px;
  font-weight: 550;
  line-height: 1.5;
}

.title .title-caption {
  color: #949494;
}

.container {
  width: 100%;
  height: 100%;
}

header {
  width: 100%;
  height: 66px;
}

#nav {
  color: #555555;
  font-size: 18px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}

#nav ul {
  height: inherit;
}

#nav li {
  font-weight: 400;
  letter-spacing: 1px;
  display: inline-block;
  padding: 24px 32px;
}

#nav li.active {
  color: white;
  font-weight: 700;
}

#scoreboard {
  visibility: hidden;
  max-height: 0;
  background: #181818;
}

#scoreboard.active {
  visibility: visible;
  height: auto;
  min-height: 320px;
  min-width: 420px;
  -webkit-box-shadow: 0px 4px 10px;
          box-shadow: 0px 4px 10px;
  border-radius: 5px;
  opacity: 1;
}

table {
  color: white;
  width: 100%;
  height: 100%;
  padding: 36px;
  border-spacing: 24px;
}

thead {
  color: #393939;
  text-transform: uppercase;
  font-weight: 600;
  letter-spacing: 1px;
  padding: 24px;
}

th:nth-child(2) {
  text-align: left;
}

tr {
  height: 24px;
}

tr :nth-child(1), tr :nth-child(3) {
  text-align: center;
}

td {
  color: white;
  text-transform: none;
  font-weight: 500;
  min-height: 24px;
  vertical-align: middle;
  padding: 2px;
}

#rules {
  visibility: hidden;
  max-height: 0;
}

#rules.active {
  visibility: visible;
  opacity: 1;
  height: auto;
}

#rules .hide {
  -webkit-animation: hide 1s ease;
          animation: hide 1s ease;
}

#rules section {
  margin-bottom: 12px;
}

#rules .section-title {
  color: white;
  font-size: 16px;
  font-weight: 600;
  line-height: 2.6;
}

#rules .rule-list {
  color: #B0B0B0;
  margin-left: 16px;
}

#rules .rule-list li {
  list-style-type: circle;
  line-height: 1.5;
}

#rules .emphasis {
  padding: 3px 2px;
  background: red;
  font-weight: 900;
  font-size: 10px;
  letter-spacing: 1px;
  color: white;
  text-transform: uppercase;
  border-radius: 1px;
  position: relative;
}

#rules .emphasis:after {
  content: '';
  position: absolute;
  left: 0;
  display: inline-block;
  height: 1em;
  width: 95%;
  border-bottom: 1px solid white;
  margin-top: 8px;
  margin-left: 2px;
}

@media (max-width: 640px) {
  #nav {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
}
/*# sourceMappingURL=main.css.map */